* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: white;
  overflow: hidden;
  transition: 1s;
}

.inputBox {
  position: relative;
  width: 450px;
}

.inputBox h2 {
  font-size: 30px;
  color: black;
  font-weight: bolder;
  text-align: center;
}

/* 
Note: I had to make some modifications to your CSS in order to adjust them to my contribution.
*/

.password-display-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 400px;
  font-size: 1.4rem;
  height: 4rem;
  border: none;
  padding: 0 1.2rem;
  margin: 15px 0 20px;
  background: transparent;
  outline: none;
  letter-spacing: 1px;
  border-radius: 8px;
  color: black;
  word-break: break-all;
  box-shadow: -4px -4px 10px rgba(255, 255, 255, 1),
    inset 4px 4px 10px rgba(0, 0, 0, 0.5),
    inset -4px -4px 10px rgba(255, 255, 255, 1),
    -4px -4px 10px rgba(0, 0, 0, 0.5);
}

#passwordDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 400px;
  font-size: 1.4rem;
  height: 4rem;
  border: none;
  padding: 0 1.2rem;
  margin: 15px 0 20px;
  background: transparent;
  outline: none;
  letter-spacing: 1px;
  border-radius: 8px;
  color: black;
  word-break: break-all;
  top: 3px;
}

.copy {
  cursor: pointer;
  position: absolute;
  top: 64px;
  right: 60px;
  width: 32px;
  opacity: 0.5;
  transition: 0.1s;
}

.copy:hover {
  opacity: 1;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 1rem;
  column-gap: 2.5rem;
  justify-content: center;
  align-items: center;
}

.char-amount-container {
  display: flex;
  align-items: center;
}

.number-input {
  width: 2.2rem;
}

.btn {
  grid-column: span 2;
  cursor: pointer;
  color: white;
  background: black;
  font-size: 1.5rem;
  padding: 15px 15px;
  border-radius: 8px;
  transition: 0.5s;
  letter-spacing: 4px;
  transition: all 0.3s ease;
  margin: 0 auto;
  justify-content: center;
}

.btn:hover {
  background: #dc21fd;
  color: black;
  transition: 0.4s ease-out;
}

.inputBox #btn:active {
  background: #9c27b0;
}

.alertBox {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #9c27b0;
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 10px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  left: 50%; /* Center the snackbar */
  top: 5px; /* 30px from the bottom */
}

.active {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 5px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 5px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 5px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 5px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
